:root {
  --primary-color: #141c34;
  --secondary-color: #007991;
  --accent-color: #e1e1e1;
}

html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
  scroll-behavior: smooth;

  /* add scroll padding to stop section heading sitting behind the navbar */
  scroll-padding-top: 75px;
}

body {
  /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
  font-family: "Work Sans", sans-serif;

  /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
  font-size: 1.75rem;
  line-height: 1.5;
  background-color: var(--accent-color);
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

/* Set all H tags to Bitter font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitter", serif;
  color: var(--primary-color);
}

p {
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

header {
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0px -5px 20px 3px rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.logo {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 4rem;
  font-weight: 700;
  font-family: "Bitter", serif;
}

.logo:hover {
  color: var(--secondary-color);
}

.container {
  max-width: 992px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 25px;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
}

nav ul li a:hover {
  color: var(--secondary-color);
}
section {
  padding: 25px 0;
}

.hero {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.top-content img {
  height: 300px;
  margin: 2rem 0;
}

.top-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.bottom-content h1 {
  font-size: 6rem;
}

.bottom-content p {
  font-size: 3rem;
  color: var(--secondary-color);
  font-weight: 700;
}

#about {
  margin: 3rem auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about p {
  max-width: 85%;
  padding-top: 1rem;
  margin-top: 2rem;
  text-align: justify;
  text-align-last: center;
}

#work {
  margin: 3rem auto;
  text-align: center;
  width: 100%;
  justify-content: center;
}

#work h2 {
  margin-bottom: 3rem;
}

.work-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* create spacing to give a grid look */
  gap: 2rem;
}

figure {
  cursor: pointer;
  border-radius: 8px;
  position: relative;
}

figure:hover {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
}

figure:hover h3 {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

figure h3 {
  position: absolute;
  font-size: 2.5rem;
  left: 0;
  bottom: 3rem;
  padding: 10px 30px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.work {
  /* set scale to 48% to cater for the flex gap */
  flex: 1 0 48%;
  height: 200px;
  overflow: hidden;
}

.main-work {
  height: 400px;
  overflow: hidden;
  margin-top: 1rem;
}

.main-work img,
.work img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.tbc {
  background-color: #c2c2c2;
}

#contact {
  margin: 3rem auto;
  text-align: center;
  width: 100%;
}

#contact h2 {
  margin-bottom: 3rem;
}

.contact h5 {
  margin-top: 2rem;
}

.contact h5 a {
  text-decoration: none;
  color: var(--primary-color);
}

.contact h5 a:hover {
  color: var(--secondary-color);
}

.contact h5 span {
  margin-right: 3rem;
  color: var(--secondary-color);
}

footer {
  background-color: var(--secondary-color);
}

footer h6 {
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--primary-color);
}
footer h6 span {
  font-weight: 700;
}

footer a {
  text-decoration: none;
  color: var(--primary-color);
  margin-left: 2rem;
}

footer a:hover {
  color: var(--accent-color);
}

footer i .fa-brands .fa-square-github {
  height: 3rem;
  width: 3rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .container {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  figure h3 {
    font-size: 2rem;
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 762px) {
  .top-bar {
    flex-direction: column;
    padding: 1rem 0;
  }

  nav {
    margin-top: 1rem;
  }

  .work,
  .main-work {
    flex: unset;
    height: 200px;
  }

  .work-grid {
    gap: 3rem;
  }
}
